*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
img
  max-width: 100%
button, input, textarea
  &:focus
    outline: none
.container
  max-width: 1110px
  margin: auto
.send
  &__status
    display: flex
    justify-content: center
    color: $light
    margin-top: 20px
    flex-basis: 100%
  &__preloader
    height: 50px
    width: 50px